<ul class = "client_info">
  <%= form_with  model: @client, url:clients_path, local: true do |f| %>
    <li>
      <%= f.label :name, "クライアント写真" %><br>
      <%= f.file_field :image%>
    </li>
    <li>
      <%= f.label :name, "名前" %><br>
      <%= f.text_field :name,　placeholder:"例)3" %>
    </li>

    <li>
    <%= f.label :name, "年齢" %><br>
    <%= f.number_field :age %>
    </li>
    <li>
      <%= f.label :sex, "男性" %>
      <%= f.radio_button :sex, :male %>
      <%= f.label :sex, "女性" %>
      <%= f.radio_button :sex, :female %>
    </li>
    <li>
      <%= f.label :purpose, "目的" %><br>
      <%= f.text_area :purpose %>
    </li>
    <li>
      <%= f.label :weakness, "強化すべき点" %><br>
      <%= f.text_area :weakness %>
    </li>
    <li>
      <%= f.label :belonging, "所属店舗" %><br>
      <%= f.text_field :belonging %>
    </li>
    <li>
      <%= f.label :session_day, "次回予約日" %><br>
      <%= f.date_field :session_day %>
    </li>
    <li>
      <%= f.label :session_time, "開始時間" %><br>
      <%= f.time_field :session_time%>
    </li>
    <li>
      <%= f.label :remarks, "備考" %><br>
      <%= f.text_area :remarks %>
    </li>
    <%= f.submit "保存する" %>
  <%end%>
</ul>