<h2>顧客の詳細ページ</h2>
<%if @client.image.attached?%>
  <%= image_tag @client.image, size:"100x100" %>
<%end%>
<p>名前：<%= @client.name%></p>
<p>年齢：<%= @client.age%>歳</p>
<p>所属店舗：<%= @client.belonging%></p>
<p>目的：<%= @client.purpose%></p>
<p>備考：<%= @client.remarks%></p>