<h2><%= @client.name%>様の新規メニュー</h2>

<ul class = "client_info">
  <%= form_with  model: @plan,url: client_plans_path(client_id: @client.id), local: true do |f| %>
    <li>
      <%= f.label :title, "タイトル" %><br>
      <%= f.text_field :title%>
    </li>
    <li>
      <%= f.label :description, "説明・詳細", row: 10 %><br>
      <%= f.text_area :description %>
    </li>
    <li>
    <%= f.label :caution, "既往歴" %><br>
    <%= f.text_area :caution %>
    </li>

    <%=f. "詳細の追加"%>
  <%end%>
</ul>