<!DOCTYPE html>
<html>
  <head>
    <title>TrainerSchedule</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <div class= "container">
      <div class = "header-content">
      <% if trainer_signed_in? %>
        <div class = "header-left">
          <h2><%=link_to "顧客管理システム","/trainers/#{current_trainer.id}", class:"title" %></h2>
          <p>トレイナー：<%=current_trainer.name%><p>
        </div>
        <div class= "header-right">
          <%=link_to "顧客一覧",clients_path, class:"client_all" %>
          <%=link_to "顧客追加",new_client_path, class:"client" %>
          <%=link_to "ログアウト",destroy_trainer_session_path, method: :delete, class:"logout" %>
        </div>
      <%else%>
        <div class = "header-left">
          <h3><%=link_to "顧客管理システム",trainers_path, class:"title" %></h3>
        </div>
        <div class= "header-right">
            <%=link_to "ログイン",  new_trainer_session_path, class:"login" %>
            <%=link_to "登録", new_trainer_registration_path, class:"signin" %>
        </div>
      <%end%>
      </div>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
